.App {
  text-align: center;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.button {
  text-align: center;
  padding: 10px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.map {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.sidebar {
  text-align: center;
}